/* Fonts Import */
@import url(https://rsms.me/inter/inter.css);

@import url("https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&display=swap");

/* Fonts Import End */

html {
  box-sizing: border-box;
  font-size: 100%;
}
a {
  color: #2f2f2f;
  text-decoration: underline;
}
a:hover {
  background-color: #fdfd96;
}
::-moz-selection {
  /* Code for Firefox */
  background: #fdfd96;
}

::selection {
  background: #fdfd96;
}

body {
  font-family: Inter, Arial, Helvetica, sans-serif !important;
  font-size: 18px;
  /* max-width: 660px; */
  margin: 0;
  padding: 0;
  line-height: 1.5em;
  color: #2f2f2f;
}

/* ----------------------------------------------------- */
.container{
  padding: 2% 5%;
}


/* NAVIGATION */
.navigation{
  border-bottom: 1px solid #ddd;
  padding: 1% 5%;
  margin: 0%;
}

.logo{
  font-weight: 700;
  font-size: 26px;
}

.post-content{
  max-width: 680px;
  /* margin:auto; */
}
.post-content > p,
.post-content > ul > li,
.post-content > ol > li {
  font-family: Hyde, Amiri, Georgia, "Times New Roman", Times, serif;
  font-size: calc(18px + (20 - 18) * ((100vw - 320px) / (1680 - 320)));
  line-height: 1.3em;
}
.post-title {
  font-size: calc(48px + (100 - 48) * ((100vw - 320px) / (1680 - 320)));
  font-weight: 750;
  line-height: 1em;
  letter-spacing: -0.02em;
  font-family: "Jones*";
}

/* Post Layout */
/* 
@media only screen and (min-width: 50em) {
  .flex-container {
    display: flex;
    padding: 1% 5%;
  }
  .main-content {
    padding: auto 20px;
  }
} */

.main-content {
  flex: 2;
}

/* .sidebar {
  flex: 1;
}
.side-heading{
  padding: 0;
  margin: 0%;
  font-size: calc(24px + (28 - 24) * ((100vw - 320px) / (1680 - 320)));
}
.side-post-title{
  border-bottom: 1px dotted black;
}
.side-post-title > h4{
  margin: 2% auto;
}
/* TEST CLASSES */
/* .box {
  padding: 20px;
  border-radius: 2px;
}
.blue {
  background-color: #0066ff;
}
.green {
  background-color: darkolivegreen;
}
.coral-text {
  color: #ff7f50;
} */
*/ pre {
  box-sizing: border-box;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: auto;
  overflow-y: hidden;
  font-size: 18px;
  line-height: 22px;
  border-radius: 4px;
  padding: 10px;
  color: #d8dee9;
  background-color: #2f2f2f;
}
pre code {
  padding: 10px;
  color: #fff;
  font-family: Consolas, Monaco, "Courier New", Courier, monospace;
}

@font-face {
  font-family: "Hyde";
  src: url("cdn/fonts/Hyde/Hyde-Bold.woff2") format("woff2"),
    url("cdn/fonts/Hyde/Hyde-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Hyde";
  src: url("cdn/fonts/Hyde/Hyde-Italic.woff2") format("woff2"),
    url("cdn/fonts/Hyde/Hyde-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Hyde";
  src: url("cdn/fonts/Hyde/Hyde-Regular.woff2") format("woff2"),
    url("cdn/fonts/Hyde/Hyde-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


@font-face {
    font-family: 'Jones*';
    src: url('Jones-it-BlackItalic.woff2') format('woff2'),
        url('Jones-it-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Jones*';
    src: url('Jones-it-Black.woff2') format('woff2'),
        url('Jones-it-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Jones*';
    src: url('Jones-it-Bold.woff2') format('woff2'),
        url('Jones-it-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Jones*';
    src: url('Jones-it-BoldItalic.woff2') format('woff2'),
        url('Jones-it-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Jones*';
    src: url('Jones-it-BookItalic.woff2') format('woff2'),
        url('Jones-it-BookItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Jones*';
    src: url('Jones-it-Book.woff2') format('woff2'),
        url('Jones-it-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
